@import '../../styles/constants.scss';

.personal-container {
    width: 100%;
    max-width: 450px;
    color: $white;
    position: fixed;
}

.personal-heading {
    font-size: 64px;
    line-height: 64px;
    font-weight: $medium;
    font-family: $font;
    letter-spacing: 3px;
}

.header-name {
    font-weight: $bold;
}

.personal-links {
    cursor: pointer;
    margin: 0 16px;
    transition: all 0.4s ease;
    .links-icons {
        transition: all 0.3s ease;
        &:hover {
            fill: $purple;
        }
    }
    &:hover {
        color: $purple;
    }
}

// .personal-links {
//     transition: all 0.4s ease;
//     .links-icons {
//         transition: all 0.4s ease;
//     }
//     &:hover,
//     &:hover .links-icons {
//         fill: $purple;
//         color: $purple;
//     }
// }

.links-icons {
    fill: #ffffff;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.personal-links-container {
    display: flex;
    align-items: center;
    margin-top: 72px;
}

.personal-text {
    font-family: $poppins;
    margin-top: 32px;
    line-height: 1.85;
    color: $purple;
}

.profile-pic-container {
    margin-right: 16px;
    transition: transform 0.4s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
}

.profile-pic {
    border-radius: 100px;
}
