@import '../../styles/constants.scss';

.personal-container {
    width: 100%;
    max-width: 450px;
    color: $white;
    position: fixed;
}

.personal-heading {
    font-size: 64px;
    line-height: 64px;
    font-weight: $medium;
    font-family: $poppins;
    letter-spacing: 3px;
}

.header-name {
    font-weight: $bold;
}

.personal-links {
    cursor: pointer;
    margin: 0 16px;
}

.links-icons {
    fill: #ffffff;
    width: 20px;
    height: 20px;
    margin-right: 16px;
}

.personal-links-container {
    display: flex;
    align-items: center;
    margin-top: 72px;
}

.personal-text {
    font-family: $poppins;
    margin-top: 32px;
    line-height: 1.85;
}

.profile-pic-container {
}

.profile-pic {
    border-radius: 100px;
}
