@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

@import '../src/Personal/Personal';

// Colors
$black: #000;

// Fonts
$font: 'Ghotic A1', sans-serif;

// Font weights
$extraLight: 400;
$light: 500;
$medium: 600;
$bold: 800;
