@import '../src/Personal/Personal';
@import '../src/Showcase/Showcase';
@import '../src/About/About';
@import '../src/Header/Header';

.layout-container {
    width: 1440px;
    margin: auto;
    color: $white;
    padding: 0 40px 80px;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.column {
    flex-direction: column;
}

.relative {
    position: relative;
}

.white {
    color: $white;
}

.light-grey {
    color: $lightGrey;
}

.grey {
    color: $grey;
}

.purple {
    color: $purple;
}

.circular-img-wrapper {
    position: absolute;
    z-index: 10;
    top: 330px;
    left: -380px;
    width: 400px;
    height: 400px;
    animation: rotating 20s linear infinite;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
