.showcase-container {
    margin-bottom: 90px;
}

.showcase-links {
    margin-bottom: 40px;
    width: 650px;
    height: 200px;
    margin: 20px 0;
    cursor: pointer;
    display: flex;
    &:hover > .jelly-effect {
        transform: scale(1.05);
        transition: 0.42s cubic-bezier(0.4, 2.1, 0.45, 0.24);
    }
}

.jelly-effect {
    width: 100%;
    height: 100%;
    background: $blackGrey;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.4s;
    border-radius: 20px;
}

.showcase-box {
    padding: 40px;
    z-index: 5;
    width: 100%;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.6s;
}

.container-content {
    justify-content: flex-end;
}

.showcase-title,
.showcase-desc {
    margin-top: 10px;
}

.projects-container {
    display: flex;
    width: 520px;
    flex-wrap: wrap;
    align-items: center;
    justify-self: flex-end;
}

.projects-box {
    width: 240px;
    height: 300px;
    background: $white;
    margin: 8px;
}

.blur {
    opacity: 0.6;
    transition: opacity 0.4s;
    filter: blur(1px);
}

.blur:hover {
    opacity: 1;
    filter: blur(0);
}

.showcase-lang {
    font-weight: $extraLight;
}
